<nav class="pagination is-centered is-large" role="navigation">
    {% if page.has_previous %}
    <a class="pagination-previous button is-info" href="?page={{ page.previous_page_number }}">Previous</a>
    {% else %}
    <a class="pagination-previous button" disabled>Previous</a>
    {% endif %}
    {% if page.has_next %}
    <a class="pagination-next button is-info" href="?page={{ page.next_page_number }}">Next</a>
    {% else %}
    <a class="pagination-next button" disabled>Next</a>
    {% endif %}
</nav>>
