{% load content_tags %}
<div class="field">
    {% if field|is_checkbox %}
    {{ field|bulma_label:classes }} {{ field|bulma_check:classes }}

    {% else %}
    {{ field|bulma_label:classes }} 
    <div class="control">
        {% if field|is_textarea %}
        {{ field|bulma_text:classes }}
        {% elif field|is_select %}
        {{ field|bulma_select:classes }}
        {% elif field|is_checkbos %}
        {{ field|bulma_checkbox:classes }}
        {% else %}
        {{ field|bulma_input:classes }}
        {% for error in field.errors %}
        <span class="help is-danger {{ form.error_css_class }}">{{ error }}</span>
        {% endfor %}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endif %}
</div>